.container {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;

    .card {
        display: flex;
        flex-direction: column;
        position: relative;
        top: 1px;
        height: 500px;
        width: 1000px;
        border-radius: 25px;
        padding: 50px;
        transform-origin: top;
        background-color: rgb(100, 95, 95);


        /*transform: perspective(1500px) rotateX(-5deg);
        box-shadow: rgba(122, 122, 122, 0.514) 0px 25px 50px -12px;
        transition: transform 1s ease 0s;

        &:hover {
            transform: perspective(3000px) rotateX(5deg);
        }*/

        h1 {
            text-align: center;
            margin: 0px;
            font-size: 28px;
        }

        .body {
            display: flex;
            height: 100%;
            margin-top: 50px;
            gap: 50px;
            overflow: hidden;

            .description {
                width: 40%;
                position: relative;
                top: 10%;
                overflow: scroll;

                p {
                    font-size: 16px;

                    &::first-letter {
                        font-size: 28px;
                        font-family: 'Title';
                    }
                }

            }

            .imageContainer {
                position: relative;
                width: 60%;
                height: 100%;
                border-radius: 25px;
                overflow: hidden;

                .inner {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                }

                img {
                    object-fit: cover;
                }


            }

        }
    }
}